{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style/Seasons/style7.css' %}">
    <link rel="stylesheet" href="{% static 'style/Lessons/Paye7/Lessons.css' %}">

</head>
<aside>
    <div>
<ul>
    <li style="margin-right: 2px;font-size: 20px; color: red;">پایه هفتم</li>
    <ol>
        <a href="{% url 'urls:paye7_season1' %}"><li>فصل  1 : راهبرد های حل مسئله</li></a>
        <a href="{% url 'urls:paye7_season2' %}"><li>فصل 2 : عدد های صحیح</li></a>
        <a href="{% url 'urls:paye7_season3' %}"><li>فصل 3 : جبر و معادله</li></a>
       <a href="{% url 'urls:paye7_season4' %}"> <li>فصل 4 : هندسه و استدلال</li></a>
        <a href="{% url 'urls:paye7_season5' %}"><li>فصل 5 : شمارنده ها و اعداد اول</li></a>
        <a href="{% url 'urls:paye7_season6' %}"><li>فصل 6 : سطح و حجم</li></a>
     <a href="{% url 'urls:paye7_season7' %}"><li>فصل 7 : توان و جذر</li></a>
        <a href="{% url 'urls:paye7_season8' %}"><li>فصل 8 : بردار و مختصات</li></a>
        <a href="{% url 'urls:paye7_season9' %}"><li>فصل 9 : آمار و احتمال</li></a>
    </ol>
    <li style="margin-right: 2px; font-size: 20px; color: red;"><a href="{% url 'urls:paye8' %}" style="color: red;">پایه هشتم</a></li>
    <li style="margin-right: 2px; font-size: 20px; color: red;"><a href="{% url 'urls:paye9' %}" style="color: red;">پایه نهم</a></li>
    
    </ol>
</ul>


</div>
            </aside>

