{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style/Seasons/style8.css' %}">
</head>
<aside>
    <div>
<ul>


    <li style="margin-right: 2px;font-size: 20px;color: red;">پایه هشتم</li>
    <ol>
        <a href="{% url 'urls:paye8_season1' %}"><li>فصل  1 : عدد های صحیح و گویا</li></a>
        <a href="{% url 'urls:paye8_season2' %}"><li>فصل 2 : عدد های اول</li></a>
        <a href="{% url 'urls:paye8_season3' %}"><li>فصل 3 : چند ضلعی ها</li></a>
        <a href="{% url 'urls:paye8_season4' %}"><li>فصل 4 : جبر و معادله</li></a>
        <a href="{% url 'urls:paye8_season5' %}"><li>فصل 5 : بردار و مختصات</li></a>
        <a href="{% url 'urls:paye8_season6' %}"><li>فصل 6 : مثلث</li></a>
        <a href="{% url 'urls:paye8_season7' %}"><li>فصل 7 : توان  و جذر</li></a>
        <a href="{% url 'urls:paye8_season8' %}"><li>فصل 8 : آمار و احتمال</li></a>
       <a href="{% url 'urls:paye8_season9' %}"> <li>فصل 9 : دایره</li></a>
    </ol>

    <li style="margin-right: 2px;font-size: 20px;"><a href="{% url 'urls:paye7' %}" style="color: red;">پایه هفتم</a></li>
     <li style="margin-right: 2px; font-size: 20px;"><a href="{% url 'urls:paye9' %}" style="color: red;">پایه نهم</a></li>

</ul>
</div>
            
        </aside>