{% load static %}
{% include 'includes/Fonts-html/BHoma.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="{% static 'style/register.css' %}">
</head>
<body>
    {% include 'includes/alert.html' %}
    <div class="container">
        <div class="form-box">
            <div class="form signUpform">
                <form method="post">
                    {% csrf_token %}
                    <h3>ثبت نام</h3>
                    <input type="username" name="username" placeholder="نام کاربری">
                    <input type="email" name="email" placeholder="پست الکترونیک">
                    <input type="password" name="pass" placeholder="رمز عبور">
                    <input type="password" name="cpass" placeholder="تکرار رمز عبور">
                    <input type="submit" value="ثبت نام">
                    <p>حساب کاربری دارید؟ <a href="{% url 'urls:signin' %}">وارد شوید</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>