<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه مورد نظر شما پیدا نشد</title>
</head>
<body>
<div class="div-img">
    <img src="pasted image 0.png" alt="eror-404">
</div>

<div>,
    <h1> !صفحه مورد نظر شما یافت نشد</h1>
</div>

<style>
@font-face{
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);
}
.div-img{
   margin-left: auto;
   margin-right: auto;
   width: 755px;
   height: 260px;
   margin-top: 75px;
   /* margin-bottom: 5px; */
}
img{
    margin-left: auto;
   margin-right: auto;
   width: 755px;
   height: 260px;
}
h1{
    margin-top: 5px;
    text-align: center;
    font-family: yekan;
    font-size: 37px;
}

</style>
    
</body>
</html>