{% load static %}
{% include 'includes/Fonts-html/Yekan.html' %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پایه نهم</title>
    <link rel="stylesheet" href="{% static 'style/theachesstyle.css' %}">
</head>

<body style="background-color:rgb(228, 228, 228)">
{% include 'includes/header.html' %}
    <article>
        <h1>ریاضیات پایه نهم</h1>
        <h2>لطفا مبحث مورد نظر خود را انتخاب کنید</h2>
 
 
        <div class="book">
         <img src="{% static 'img/index-img/c9.gif' %}" class="img-book">
        </div>
           
        <a href="{% url 'urls:paye9_season1' %}">
        <div class="div-season">
         <h3><i>فصل اول : مجموعه ها</i></h3>
        </div>
    </a>
 
    <a href="{% url 'urls:paye9_season2' %}">
        <div class="div-season">
         <h3><i>فصل دوم :عدد های حقیقی</i></h3>
        </div>
    </a>
 
        <a href="{% url 'urls:paye9_season3' %}">
        <div class="div-season">
         <h3><i>فصل سوم : استدلال و اثبات در هندسه</i></h3>
        </div>
    </a>


        <a href="{% url 'urls:paye9_season4' %}">
        <div class="div-season">
         <h3><i>فصل چهارم : توان و ریشه</i></h3>
        </div>
    </a>
 
 <a href="{% url 'urls:paye9_season5' %}">
        <div class="div-season">
         <h3><i>فصل پنجم : عبارت های جبری</i></h3>
        </div>
    </a>


 <a href="{% url 'urls:paye9_season6' %}">
        <div class="div-season">
         <h3><i>فصل ششم : خط و معادله های خطی</i></h3>
        </div>
    </a>

        <a href="{% url 'urls:paye9_season7' %}">
        <div class="div-season">
         <h3><i>فصل هفتم : عبارت های گویا</i></h3>
        </div>
    </a>
 
        <a href="{% url 'urls:paye9_season8' %}">
        <div class="div-season">
         <h3><i>فصل هشتم : حجم و مساحت</i></h3>
        </div>
    </a>
 
        
    </article>
{% include 'includes/footer.html' %}
</body>
</html>